<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.mapper.StudentTeachMapper">

    <resultMap id="BaseResultMap" type="com.markerhub.entity.StudentTeach">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="batchId" column="batch_id" jdbcType="INTEGER"/>
            <result property="teachId" column="teach_id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_id,teach_id,
        student_id
    </sql>
    <select id="findByBatchId" resultType="com.markerhub.entity.StudentTeach">
        select *
        from  student_teach
        where batch_id=#{batchId};
    </select>
</mapper>
